[submodule "ext/eigen"]
	path = ext/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "ext/openmesh"]
	path = ext/openmesh
	url = https://github.com/Lawrencemm/openmesh
[submodule "ext/nanogui"]
	path = ext/nanogui
	url = https://github.com/mitsuba-renderer/nanogui
[submodule "ext/polyscope"]
	path = ext/polyscope
	url = https://github.com/nmwsharp/polyscope
